.lista-produtos{
    height: calc(100% - 250px);
    margin-right: 20px;
    margin-left: 20px;
    overflow: auto;
}

.footer-card{
    border-top: 2px solid #e7e7e7;
}

.footer-card-valor{
    margin-top: 20px;
    margin-bottom: 23px;
    display: flex;
    justify-content: space-between;
}