.box-checkout{
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 25px;
    padding: 20px;
}

.box-checkout h3{
    margin-top: 0;
}

.box-checkout p{
    margin-top: 0;
}

.checkout-valores{
    display: flex;
    justify-content: space-between;
}

.checkout_button{
    margin-top: 180px;
}