.produto-cart-box{
    border: 1px solid #E9E9E9;
    padding: 10px;
    display: flex;
    margin: 20px;
}

.produto-cart-box img{
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.produto-cart-nome{
    margin: 10px 3px 0px 0px;
}

.produto-cart-valor{
    color: #929292;
    font-size: 0.8rem;
    margin: 0px 3px 10px 0px;
}

.footer-produto-cart{
    display: flex;
    justify-content: space-between;
}

.footer-produto-btn{
    border: 1px solid #cacaca;
    padding: 10px 10px;
    border-radius: 0px;
    background-color: #fff;
    cursor: pointer;
}

.footer-produto-qtd{
    margin-left: 5px;
    margin-right: 5px;
}

.footer-produto-preco{
    color: #E84F3D;
    font-size: 1rem;
    font-weight: bold;
    line-height: 1rem;
    display: inline-block;
    width: 100px;
}